<div class="container-fluid bg-info">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-12 bg-warning">
        <div class="row">
          <div class="col-lg-3">
            asdadw
          </div>
          <div class="col-lg-3">
            adadad
          </div>
          <div class="col-lg-3">
            asdadw
          </div>
          <div class="col-lg-3">
            adadad
          </div>
        </div>
      </div>
    </div>
  </div>
</div>