<style>

    .card {
        height: 100%;
    }


    h1 {
        animation: titlepop 2s;
    }

    p {
        animation: subhead 4s;
    }



    @keyframes titlepop {
        from {
            opacity: 0;
            transform: rotateX(360deg);
        }

        to {
            opacity: 1;
            transform: rotateY(0);
        }
    }

    @keyframes subhead {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
</style>


<!-- Header-->
 <header class="bg-info py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Make it your own!</h1>
            <p class="lead fw-normal mb-0">Find artworks for you to buy and claim it yours!</p>
        </div>
    </div>
</header>

<style>

    section {
        background-image: url("assets/pics/bg1.png");
        background-size: cover;
    }

</style>

<!-- Section-->
<section class="py-5 bg-image">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 row-cols-1 row-cols-md-1 row-cols-xl-4 justify-content-center">
            <div class="col col-md-6 mb-5">
                <div class="card">
                    <!-- Sale badge-->
                    <div class="badge bg-white text-success position-absolute" style="top: 0.5rem; right: 0.5rem">P500.00</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/market/market1.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Agares</h5>
                            <h6>by lukaprimeart</h6>
                            <!-- Product price-->
                            <div class="auction-content">
                                
                                 <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent justify-content-center" style="display: flex;">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to Cart</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col col-md-6 mb-5">
                <div class="card">
                    <!-- Sale badge-->
                    <div class="badge bg-white text-success position-absolute" style="top: 0.5rem; right: 0.5rem">P2,700.00</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/market/market2.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Apricity</h5>
                            <h6>by Narnicissa</h6>
                            <!-- Product price-->
                            <div class="auction-content">
            
                                 <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent justify-content-center" style="display: flex;">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to Cart</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col col-md-6 mb-5">
                <div class="card">
                    <!-- Sale badge-->
                    <div class="badge bg-white text-success position-absolute" style="top: 0.5rem; right: 0.5rem">P600.00</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/market/market3.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Azure Wasteland</h5>
                            <h6>by Brillick</h6>
                            <!-- Product price-->
                            <div class="auction-content">
                                
                                 <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent justify-content-center" style="display: flex;">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to Cart</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col col-md-6 mb-5">
                <div class="card">
                    <!-- Sale badge-->
                    <div class="badge bg-white text-success position-absolute" style="top: 0.5rem; right: 0.5rem">P10,500.00</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/market/market4.png" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">DamiAnya</h5>
                            <h6>by Reishichi</h6>
                            <!-- Product price-->
                            <div class="auction-content">
                                
                                 <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent justify-content-center" style="display: flex;">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to Cart</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col col-md-6 mb-5">
                <div class="card">
                    <div class="badge bg-white text-success position-absolute" style="top: 0.5rem; right: 0.5rem">P2,000.00</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/market/market5.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Fire Opal</h5>
                            <h6>by  Firecat-sama</h6>
                            <!-- Product price-->
                            <div class="auction-content">
                                
                                 <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent justify-content-center" style="display: flex;">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to Cart</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col col-md-6 mb-5">
                <div class="card">
                    <div class="badge bg-white text-success position-absolute" style="top: 0.5rem; right: 0.5rem">P1,250.00</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/market/market6.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Giant Skull on a Mountain</h5>
                            <h6>by PulpoGlow</h6>
                            <!-- Product price-->
                            <div class="auction-content">
                                
                                 <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent justify-content-center" style="display: flex;">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to Cart</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col col-md-6 mb-5">
                <div class="card">
                    <div class="badge bg-white text-success position-absolute" style="top: 0.5rem; right: 0.5rem">P750.00</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/market/market7.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Hatsune Miku</h5>
                            <h6>by Konsmith89</h6>
                            <!-- Product price-->
                            <div class="auction-content">
                                
                                 <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent justify-content-center" style="display: flex;">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to Cart</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col col-md-6 mb-5">
                <div class="card">
                    <div class="badge bg-white text-success position-absolute" style="top: 0.5rem; right: 0.5rem">P6,500.00</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/market/market8.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Inion Knight</h5>
                            <h6>by AshnoAlice</h6>
                            <!-- Product price-->
                            <div class="auction-content">
                                
                                 <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent justify-content-center" style="display: flex;">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to Cart</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col col-md-6 mb-5">
                <div class="card">
                    <!-- Sale badge-->
                    <div class="badge bg-white text-success position-absolute" style="top: 0.5rem; right: 0.5rem">P10,500.00</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/market/market9.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Lara of Lyss</h5>
                            <h6>by 1oshuaart</h6>
                            <!-- Product price-->
                            <div class="auction-content">
                                
                                 <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent justify-content-center" style="display: flex;">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to Cart</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col col-md-6 mb-5">
                <div class="card">
                    <!-- Sale badge-->
                    <div class="badge bg-white text-success position-absolute" style="top: 0.5rem; right: 0.5rem">P10,500.00</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/market/market10.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Lovely Hero</h5>
                            <h6>by loveedreams</h6>
                            <!-- Product price-->
                            <div class="auction-content">
                                
                                 <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent justify-content-center" style="display: flex;">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to Cart</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col col-md-6 mb-5">
                <div class="card">
                    <!-- Sale badge-->
                    <div class="badge bg-white text-success position-absolute" style="top: 0.5rem; right: 0.5rem">P10,500.00</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/market/market11.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Makima</h5>
                            <h6>by kawacy</h6>
                            <!-- Product price-->
                            <div class="auction-content">
                                
                                 <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent justify-content-center" style="display: flex;">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to Cart</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col col-md-6 mb-5">
                <div class="card">
                    <!-- Sale badge-->
                    <div class="badge bg-white text-success position-absolute" style="top: 0.5rem; right: 0.5rem">P10,500.00</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/market/market12.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Neon butterfly</h5>
                            <h6>by PhaseRunner</h6>
                            <!-- Product price-->
                            <div class="auction-content">
                                
                                 <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent justify-content-center" style="display: flex;">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to Cart</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col col-md-6 mb-5">
                <div class="card">
                    <!-- Sale badge-->
                    <div class="badge bg-white text-success position-absolute" style="top: 0.5rem; right: 0.5rem">P10,500.00</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/market/market13.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Soul Road</h5>
                            <h6>by byMaker</h6>
                            <!-- Product price-->
                            <div class="auction-content">
                                
                                 <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent justify-content-center" style="display: flex;">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to Cart</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col col-md-6 mb-5">
                <div class="card">
                    <!-- Sale badge-->
                    <div class="badge bg-white text-success position-absolute" style="top: 0.5rem; right: 0.5rem">P10,500.00</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/market/market14.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Sunset Highway</h5>
                            <h6>by VincentiusMatthew</h6>
                            <!-- Product price-->
                            <div class="auction-content">
                                
                                 <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent justify-content-center" style="display: flex;">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to Cart</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col col-md-6 mb-5">
                <div class="card">
                    <!-- Sale badge-->
                    <div class="badge bg-white text-success position-absolute" style="top: 0.5rem; right: 0.5rem">P10,500.00</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/market/market15.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">The Healer</h5>
                            <h6>by SerenaVerdeArt</h6>
                            <!-- Product price-->
                            <div class="auction-content">
                                
                                 <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent justify-content-center" style="display: flex;">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to Cart</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col col-md-6 mb-5">
                <div class="card">
                    <!-- Sale badge-->
                    <div class="badge bg-white text-success position-absolute" style="top: 0.5rem; right: 0.5rem">P10,500.00</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/market/market16.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Dreamcatcher</h5>
                            <h6>by nynjamoves</h6>
                            <!-- Product price-->
                            <div class="auction-content">
                                
                                 <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent justify-content-center" style="display: flex;">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to Cart</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

