 <!-- Header-->
 <header class="bg-info py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Bid on these Featured Auctions</h1>
            <p class="lead fw-normal text-white-50 mb-0">Bid higher to have a greater chance on winning your bid!</p>
        </div>
    </div>
</header>

<style>

    section {
        background-image: url("assets/pics/bg1.png");
        background-size: cover;
    }

</style>

<!-- Section-->
<section class="py-5 bg-image">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-1 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-white text-success position-absolute" style="top: 0.5rem; right: 0.5rem">Live Auction</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/arts/art1.png" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Dreamcatcher</h5>
                            <h6>by Aellon</h6>
                            <!-- Product price-->
                            <div class="auction-content">
                                <div class="bid-area" style="display: flex; margin: 15px" >
                                    <div class="bid-amount" style="margin-right: 30px;">
                                        <div class="icon" style="color:red; font-size: 2em;">
                                            <i class="fa-solid fa-gavel"></i>
                                        </div>
                                        <div class="amount-content">
                                            <h6>Current Bid</h6>
                                            <h6>P8760.00</h6>
                                        </div>
                                    </div>
                                    <div class="bid-amount">
                                        <div class="icon" style="color:green; font-size: 2em;">
                                            <i class="fa-sharp fa-solid fa-money-bill-trend-up"></i>
                                        </div>
                                        <div class="amount-content">
                                            <h6>Increment</h6>
                                            <h6>P1,000.00</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="countdown-area">
                                    <div class="countdown" style="color:red">
                                        <h6>0d  : 21h  : 15m  : 12s</h6>
                                    </div>
                                </div>
                                 <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent" style="display: flex;">
                                    <div class="text-center" style="margin-right: 10px;"><a class="btn btn-outline-dark mt-auto" href="#">Submit a Bid</a></div>

                                    <div class="text-center" ><a class="btn btn-outline-dark mt-auto" href="#"><i class="fa-sharp fa-solid fa-heart" style="color: red;"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-white text-success position-absolute" style="top: 0.5rem; right: 0.5rem">Live Auction</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/arts/art2.png" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Black Desert</h5>
                            <h6>by PrincessAlayne</h6>
                            <!-- Product price-->
                            <div class="auction-content">
                                <div class="bid-area" style="display: flex; margin: 15px" >
                                    <div class="bid-amount" style="margin-right: 30px;">
                                        <div class="icon" style="color:red; font-size: 2em;">
                                            <i class="fa-solid fa-gavel"></i>
                                        </div>
                                        <div class="amount-content">
                                            <h6>Current Bid</h6>
                                            <h6>P10760.00</h6>
                                        </div>
                                    </div>
                                    <div class="bid-amount">
                                        <div class="icon" style="color:green; font-size: 2em;">
                                            <i class="fa-sharp fa-solid fa-money-bill-trend-up"></i>
                                        </div>
                                        <div class="amount-content">
                                            <h6>Increment</h6>
                                            <h6>P1,000.00</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="countdown-area">
                                    <div class="countdown" style="color:red">
                                        <h6>0d  : 21h  : 15m  : 12s</h6>
                                    </div>
                                </div>
                                 <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent" style="display: flex;">
                                    <div class="text-center" style="margin-right: 10px;"><a class="btn btn-outline-dark mt-auto" href="#">Submit a Bid</a></div>

                                    <div class="text-center" ><a class="btn btn-outline-dark mt-auto" href="#"><i class="fa-sharp fa-solid fa-heart" style="color: red;"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-white text-success position-absolute" style="top: 0.5rem; right: 0.5rem">Live Auction</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/arts/art3.png" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Nevermore</h5>
                            <h6>by t1na</h6>
                            <!-- Product price-->
                            <div class="auction-content">
                                <div class="bid-area" style="display: flex; margin: 15px" >
                                    <div class="bid-amount" style="margin-right: 30px;">
                                        <div class="icon" style="color:red; font-size: 2em;">
                                            <i class="fa-solid fa-gavel"></i>
                                        </div>
                                        <div class="amount-content">
                                            <h6>Current Bid</h6>
                                            <h6>P8760.00</h6>
                                        </div>
                                    </div>
                                    <div class="bid-amount">
                                        <div class="icon" style="color:green; font-size: 2em;">
                                            <i class="fa-sharp fa-solid fa-money-bill-trend-up"></i>
                                        </div>
                                        <div class="amount-content">
                                            <h6>Increment</h6>
                                            <h6>P1,000.00</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="countdown-area">
                                    <div class="countdown" style="color:red">
                                        <h6>0d  : 21h  : 15m  : 12s</h6>
                                    </div>
                                </div>
                                 <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent" style="display: flex;">
                                    <div class="text-center" style="margin-right: 10px;"><a class="btn btn-outline-dark mt-auto" href="#">Submit a Bid</a></div>

                                    <div class="text-center" ><a class="btn btn-outline-dark mt-auto" href="#"><i class="fa-sharp fa-solid fa-heart" style="color: red;"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-white text-success position-absolute" style="top: 0.5rem; right: 0.5rem">Live Auction</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/arts/art4.png" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">We're All Mad Here</h5>
                            <h6>by Valentina-Remenar</h6>
                            <!-- Product price-->
                            <div class="auction-content">
                                <div class="bid-area" style="display: flex; margin: 15px" >
                                    <div class="bid-amount" style="margin-right: 30px;">
                                        <div class="icon" style="color:red; font-size: 2em;">
                                            <i class="fa-solid fa-gavel"></i>
                                        </div>
                                        <div class="amount-content">
                                            <h6>Current Bid</h6>
                                            <h6>P8760.00</h6>
                                        </div>
                                    </div>
                                    <div class="bid-amount">
                                        <div class="icon" style="color:green; font-size: 2em;">
                                            <i class="fa-sharp fa-solid fa-money-bill-trend-up"></i>
                                        </div>
                                        <div class="amount-content">
                                            <h6>Increment</h6>
                                            <h6>P1,000.00</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="countdown-area">
                                    <div class="countdown" style="color:red">
                                        <h6>0d  : 21h  : 15m  : 12s</h6>
                                    </div>
                                </div>
                                 <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent" style="display: flex;">
                                    <div class="text-center" style="margin-right: 10px;"><a class="btn btn-outline-dark mt-auto" href="#">Submit a Bid</a></div>

                                    <div class="text-center" ><a class="btn btn-outline-dark mt-auto" href="#"><i class="fa-sharp fa-solid fa-heart" style="color: red;"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col mb-5">
                <div class="card h-100">
                    <div class="badge bg-white text-success position-absolute" style="top: 0.5rem; right: 0.5rem">Live Auction</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/arts/art5.png" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Faeborne#4</h5>
                            <h6>by Asur-Misoa</h6>
                            <!-- Product price-->
                            <div class="auction-content">
                                <div class="bid-area" style="display: flex; margin: 15px" >
                                    <div class="bid-amount" style="margin-right: 30px;">
                                        <div class="icon" style="color:red; font-size: 2em;">
                                            <i class="fa-solid fa-gavel"></i>
                                        </div>
                                        <div class="amount-content">
                                            <h6>Current Bid</h6>
                                            <h6>P8760.00</h6>
                                        </div>
                                    </div>
                                    <div class="bid-amount">
                                        <div class="icon" style="color:green; font-size: 2em;">
                                            <i class="fa-sharp fa-solid fa-money-bill-trend-up"></i>
                                        </div>
                                        <div class="amount-content">
                                            <h6>Increment</h6>
                                            <h6>P1,000.00</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="countdown-area">
                                    <div class="countdown" style="color:red">
                                        <h6>0d  : 21h  : 15m  : 12s</h6>
                                    </div>
                                </div>
                                 <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent" style="display: flex;">
                                    <div class="text-center" style="margin-right: 10px;"><a class="btn btn-outline-dark mt-auto" href="#">Submit a Bid</a></div>

                                    <div class="text-center" ><a class="btn btn-outline-dark mt-auto" href="#"><i class="fa-sharp fa-solid fa-heart" style="color: red;"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col mb-5">
                <div class="card h-100">
                    <div class="badge bg-white text-success position-absolute" style="top: 0.5rem; right: 0.5rem">Live Auction</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/arts/art6.png" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Where do the Dragons live</h5>
                            <h6>by Eraz</h6>
                            <!-- Product price-->
                            <div class="auction-content">
                                <div class="bid-area" style="display: flex; margin: 15px" >
                                    <div class="bid-amount" style="margin-right: 30px;">
                                        <div class="icon" style="color:red; font-size: 2em;">
                                            <i class="fa-solid fa-gavel"></i>
                                        </div>
                                        <div class="amount-content">
                                            <h6>Current Bid</h6>
                                            <h6>P8760.00</h6>
                                        </div>
                                    </div>
                                    <div class="bid-amount">
                                        <div class="icon" style="color:green; font-size: 2em;">
                                            <i class="fa-sharp fa-solid fa-money-bill-trend-up"></i>
                                        </div>
                                        <div class="amount-content">
                                            <h6>Increment</h6>
                                            <h6>P1,000.00</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="countdown-area">
                                    <div class="countdown" style="color:red">
                                        <h6>0d  : 21h  : 15m  : 12s</h6>
                                    </div>
                                </div>
                                 <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent" style="display: flex;">
                                    <div class="text-center" style="margin-right: 10px;"><a class="btn btn-outline-dark mt-auto" href="#">Submit a Bid</a></div>

                                    <div class="text-center" ><a class="btn btn-outline-dark mt-auto" href="#"><i class="fa-sharp fa-solid fa-heart" style="color: red;"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col mb-5">
                <div class="card h-100">
                    <div class="badge bg-white text-success position-absolute" style="top: 0.5rem; right: 0.5rem">Live Auction</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/arts/art7.png" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Phantom Queen</h5>
                            <h6>by blackhaloart</h6>
                            <!-- Product price-->
                            <div class="auction-content">
                                <div class="bid-area" style="display: flex; margin: 15px" >
                                    <div class="bid-amount" style="margin-right: 30px;">
                                        <div class="icon" style="color:red; font-size: 2em;">
                                            <i class="fa-solid fa-gavel"></i>
                                        </div>
                                        <div class="amount-content">
                                            <h6>Current Bid</h6>
                                            <h6>P8760.00</h6>
                                        </div>
                                    </div>
                                    <div class="bid-amount">
                                        <div class="icon" style="color:green; font-size: 2em;">
                                            <i class="fa-sharp fa-solid fa-money-bill-trend-up"></i>
                                        </div>
                                        <div class="amount-content">
                                            <h6>Increment</h6>
                                            <h6>P1,000.00</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="countdown-area">
                                    <div class="countdown" style="color:red">
                                        <h6>0d  : 21h  : 15m  : 12s</h6>
                                    </div>
                                </div>
                                 <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent" style="display: flex;">
                                    <div class="text-center" style="margin-right: 10px;"><a class="btn btn-outline-dark mt-auto" href="#">Submit a Bid</a></div>

                                    <div class="text-center" ><a class="btn btn-outline-dark mt-auto" href="#"><i class="fa-sharp fa-solid fa-heart" style="color: red;"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col mb-5">
                <div class="card h-100">
                    <div class="badge bg-white text-success position-absolute" style="top: 0.5rem; right: 0.5rem">Live Auction</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/arts/art8.png" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Ash</h5>
                            <h6>by AndrewMaleskiArt</h6>
                            <!-- Product price-->
                            <div class="auction-content">
                                <div class="bid-area" style="display: flex; margin: 15px" >
                                    <div class="bid-amount" style="margin-right: 30px;">
                                        <div class="icon" style="color:red; font-size: 2em;">
                                            <i class="fa-solid fa-gavel"></i>
                                        </div>
                                        <div class="amount-content">
                                            <h6>Current Bid</h6>
                                            <h6>P8760.00</h6>
                                        </div>
                                    </div>
                                    <div class="bid-amount">
                                        <div class="icon" style="color:green; font-size: 2em;">
                                            <i class="fa-sharp fa-solid fa-money-bill-trend-up"></i>
                                        </div>
                                        <div class="amount-content">
                                            <h6>Increment</h6>
                                            <h6>P1,000.00</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="countdown-area">
                                    <div class="countdown" style="color:red">
                                        <h6>0d  : 21h  : 15m  : 12s</h6>
                                    </div>
                                </div>
                                 <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent" style="display: flex;">
                                    <div class="text-center" style="margin-right: 10px;"><a class="btn btn-outline-dark mt-auto" href="#">Submit a Bid</a></div>

                                    <div class="text-center" ><a class="btn btn-outline-dark mt-auto" href="#"><i class="fa-sharp fa-solid fa-heart" style="color: red;"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

