  <!-- Styles/CSS -->
  
  <style>
    body {
      background-image: url("assets/pics/loginpagebg.png");
      background-clip: padding-box;
      height: ;
    }

  </style>
  
  
  <!--Body-->
  <body>
    <div class="container">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#tryModal">asdawd</button>
  
      <div class="modal fade" tabindex="-1" id="tryModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Register</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row justify-content-center">
                <div class="col-lg-12">
                  <form>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                          <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                          </div>
                        </div>
                        <div class="col-lg-6 text-end">
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                  </form>
                </div>
            </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Register</button>
            </div>
          </div>
        </div>
      </div>
  
  
      <!--Text-->   
      <div class="container">   
          <div class="row justify-content-center">
              <div class="col-lg-4 fs-1 text-center">
                  Let's Start Your Creative
                  Journey
              </div>
          </div>
          <div class="row text-center justify-content-center">
              <div class="col-lg-8">
                  To continue, log in to Pixare
              </div>
          </div>
      <!--Login-->
          <div class="row justify-content-center">
              <div class="col-lg-4">
                <form>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="row">
                      <div class="col-lg-6">
                        <div class="mb-3 form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                      </div>
                      <div class="col-lg-6 text-end">
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                  </div>
                </form>
              </div>
          </div>
      </div>
    </div>
  </body>
  




