<style>
    section {
        background-image: url("assets/pics/bg5.jpg");
        height: 100%;
        background-size: cover;
    }

    img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 100%;
    }

    #left{
        position: relative;
        -webkit-animation-name: animateleft;
        -webkit-animation-duration: 2s;
        animation-name: animateleft;
        animation-duration: 2s
    }

    @-webkit-keyframes animateleft {
    from { left:-500px; opacity:0 } 
    to { left:0px; opacity:1 }
    }

    @keyframes animateleft{ 
    from{ left:-500px; opacity:0 } 
    to{ left:0; opacity:1 }
    }


    #right{
        position: relative;
        -webkit-animation-name: animateright;
        -webkit-animation-duration: 2s;
        animation-name: animateright;
        animation-duration: 2s
    }

    @-webkit-keyframes animateright {
    from { right:-500px; opacity:0 } 
    to { right:0px; opacity:1 }
    }

    @keyframes animateright { 
    from{ right:-500px; opacity:0 } 
    to{ right:0; opacity:1 }
    }



</style>


<section>
    <div class="container">
        <div class="row align-items-center justify-content-center gap-3 py-5">
            <div class="col-lg-5 col-md-12 bg-light rounded-5" id="left">
                <div class="col-lg-12 my-4">
                    <div class="row text-center">
                            <div class="col-lg-12 col-md-6">
                                <img src="assets/dp/silva.jpg" alt="" class="img-fluid">
                                <h4>Ram Henrick Silva</h4>
                                <p class="text-wrap" style="width: 10rem; margin-left: auto; margin-right: auto;">Front End Developer
                                    Quezon City, PH 
                                 </p>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <img src="assets/dp/cuenca.jpg" alt="" class="img-fluid">
                                <h4>Stacy Mae Cuenca</h4>
                                <p class="text-wrap" style="width: 10rem; margin-left: auto; margin-right: auto;">Back End Developer
                                   Quezon City, PH 
                                </p>
                            </div>
                            <div class="col-lg-6 col-md-">
                                <img src="assets/dp/gulan.jpg" alt="" class="img-fluid">
                                <h4>Roejenn Gulan</h4>
                                <p class="text-wrap" style="width: 10rem; margin-left: auto; margin-right: auto;">Back End Developer
                                    Isabela, PH 
                                 </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-md-12 bg-light rounded-5" id="right">
                <div class="col-lg-12 my-4">
                    <div class="row text-center">
                            <div class="col-lg-12 col-md-6">
                                <img src="assets/dp/jcmagno.jpg" alt="" class="img-fluid">
                                <h4>John Christian Magno</h4>
                                <p class="text-wrap" style="width: 10rem; margin-left: auto; margin-right: auto;">Front End Developer
                                    Rizal, PH 
                                 </p>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <img src="assets/dp/mallari.jpg" alt="" class="img-fluid">
                                <h4>Jose Mallari III</h4>
                                <p class="text-wrap" style="width: 10rem; margin-left: auto; margin-right: auto;">Back End Developer
                                    Manila City, PH 
                                </p>
                            </div>
                            <div class="col-lg-6 col-md-">
                                <img src="assets/dp/matthewbautista.jpg" alt="" class="img-fluid">
                                <h4>Matthew Bautista</h4>
                                <div class="row"></div>
                                <p class="text-wrap" style="width: 10rem; margin-left: auto; margin-right: auto;">Back End Developer
                                    Bulacan, PH 
                                 </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
