
<style>

section {
    background-image: url("assets/pics/bg4.png");
    background-size: cover;
}

#card {
  animation: fade 2s;
}

#buttons {
  position: relative;
  -webkit-animation-name: animateright;
  -webkit-animation-duration: 3s;
  animation-name: animateright;
  animation-duration: 3s
}


@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes animateright {
    from { right:-500px; opacity:0 } 
    to { right:0px; opacity:1 }
}

@keyframes animateright { 
    from{ right:-500px; opacity:0 } 
    to{ right:0; opacity:1 }
}

</style>

<section class="vh-100">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <p><span class="h2">Shopping Cart </span><span class="h4">(1 item in your cart)</span></p>
  
          <div class="card mb-4" id="card">
            <div class="card-body p-4">
  
              <div class="row align-items-center">
                <div class="col-md-2">
                  <img src="assets/arts/art4.png"
                    class="img-fluid" alt="Generic placeholder image">
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Art Name</p>
                    <p class="lead fw-normal mb-0">Woman</p>
                  </div>
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Artist</p>
                    <p class="lead fw-normal mb-0">TitoBadaNG</p>
                  </div>
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Quantity</p>
                    <p class="lead fw-normal mb-0">1</p>
                  </div>
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Price</p>
                    <p class="lead fw-normal mb-0">P5,990.00</p>
                  </div>
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Total</p>
                    <p class="lead fw-normal mb-0">P5,990.00</p>
                  </div>
                </div>
              </div>

              <hr>

              <div class="row align-items-center" >
                <div class="col-md-2">
                    <img src="assets/arts/art1.png"
                    class="img-fluid" alt="Generic placeholder image">
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Art Name</p>
                    <p class="lead fw-normal mb-0">The Cleric</p>
                  </div>
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Artist</p>
                    <p class="lead fw-normal mb-0">beabadobee</p>
                  </div>
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Quantity</p>
                    <p class="lead fw-normal mb-0">1</p>
                  </div>
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Price</p>
                    <p class="lead fw-normal mb-0">P2,170.00</p>
                  </div>
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Total</p>
                    <p class="lead fw-normal mb-0">P2,170.00</p>
                  </div>
                </div>
              </div>

              <hr>


              <div class="row align-items-center">
                <div class="col-md-2">
                    <img src="assets/arts/art8.png"
                    class="img-fluid" alt="Generic placeholder image">
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Art Name</p>
                    <p class="lead fw-normal mb-0">Lone Knight</p>
                  </div>
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Artist</p>
                    <p class="lead fw-normal mb-0">nynjamoves</p>
                  </div>
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Quantity</p>
                    <p class="lead fw-normal mb-0">1</p>
                  </div>
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Price</p>
                    <p class="lead fw-normal mb-0">P3,500.00</p>
                  </div>
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Total</p>
                    <p class="lead fw-normal mb-0">P3,500.00</p>
                  </div>
                </div>
              </div>

  
            </div>
          </div>
  
          <div class="card mb-5" id="card">
            <div class="card-body p-4">
  
              <div class="float-end">
                <p class="mb-0 me-5 d-flex align-items-center">
                  <span class="small text-muted me-2">Order total:</span> <span
                    class="lead fw-normal">P11,660.00</span>
                </p>
              </div>
  
            </div>
          </div>
  
          <div class="d-flex justify-content-end" id="buttons">
            <button type="button" class="btn btn-light btn-lg me-2">Continue Bidding</button>
            <a routerLink="/checkout" class="btn btn-primary btn-lg me-2">Proceed to Checkout</a>
          </div>
  
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </section>