<!-- Declaration of Navigation Bar -->
<header>

  <style>
    
    .nav-item {
      font-weight: 500;
      font-size: 20px;
    }


    .navbar {
      background-color: ghostwhite;
    }


    
  </style>
  

  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
      <a class="navbar-brand d-lg-none" href="#"><img src="assets/pics/PixareText.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link active" id="outer" routerLink="/home" routerLinkActive="active current"><i class="bi bi-house-door"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="outer"  routerLink="/auction" routerLinkActive="active current"> <i class="bi bi-bank"></i> Auction</a>
          </li>
          <a class="d-none d-lg-block" routerLink="/" routerLinkActive="active current"><img src="assets/pics/PixareText.png" alt=""></a>
          <li class="nav-item">
            <a class="nav-link" id="inner" routerLink="/favorites" routerLinkActive="active current">Favorites <i class="bi bi-heart-half"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="inner"  routerLink="/cart" routerLinkActive="active current">Cart <i class="bi bi-cart4"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</header>
  
  <!-- Declaration of Body/Routing -->
  <main>
    <router-outlet></router-outlet>
  </main>
  

  
  <footer class="text-center text-dark" style="background-color: #fdccbc">

    <style>

      a {
        text-decoration: none;
      }

      span {
        font-weight: bold;
      }

    </style>

    <div class="container">
      <section class="">
        <div class="row text-center d-flex justify-content-center pt-4">
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-dark" routerLink="/home" routerLinkActive="active">Home</a>
            </h6>
          </div>

          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-dark" routerLink="/auction" routerLinkActive="active">Auction</a>
            </h6>
          </div>

          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-dark" routerLink="/about" routerLinkActive="active">About us</a>
            </h6>
          </div>

          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-dark" routerLink="/favorites" routerLinkActive="active">Favorites</a>
            </h6>
          </div>

          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-dark" routerLink="/cart" routerLinkActive="active">Cart</a>
            </h6>
          </div>
        </div>
      </section>

      <hr class="">

      <section class="">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <p>
              Pixare is an online gallery/library of images that is free to use for everyone.
              Pixare is not yet ready to be deployed/hosted as there is still much to complete.
              What you will see now is the current unfinished state of Pixare that its only
              purpose is for a project presentation.
            </p>
          </div>
        </div>
      </section>

      <section class="text-center mb-3">
        <a href="" class="text-dark me-4">
          <i class="bi bi-facebook"></i>
        </a>
        <a href="" class="text-dark me-4">
          <i class="bi bi-twitter"></i>
        </a>
        <a href="" class="text-dark me-4">
          <i class="bi bi-github"></i>
        </a>
      </section>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2022 Copyright: <span class="text-dark">Homo Habilis</span>
    </div>
  </footer>