<!-- Declaration of Navigation Bar -->
  <header>
    <style>
    
      .nav-item {
        margin-top: 10px;
        font-weight: 500;
        font-size: 23px;
      }

      #outer {
        margin-left: 25px;
      }

      #inner {
        margin-right: 25px;
      }

      .navbar {
        background-color: ghostwhite;
      }


      
    </style>
    
    <!--Nav Bar-->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav">
                <!--Nav Bar Buttons-->
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" id="outer" href="#"><i class="bi bi-house-door"></i> Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="outer" href="#"> <i class="bi bi-bank"></i> Auction</a>
              </li>
              <a class="navbar mx-5" href="#"><img src="/assets/pics/PixareText.png" alt="PixareLogo" class="logoSize"></a>
              <li class="nav-item">
                <a class="nav-link" id="inner" href="#">Favorites <i class="bi bi-heart-half"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="inner" href="#">Cart <i class="bi bi-cart4">&nbsp;<span class="feature bg-primary rounded-circle px-2 text-center">3</span> </i></a>
            </ul>
          </div>
        </div>
      </nav>
  </header>
  
  <!-- Declaration of Body/Routing -->
  <main>
    <router-outlet></router-outlet>
  </main>
  
  <footer class="text-center text-dark" style="background-color: #fdccbc">

    <style>

      a {
        text-decoration: none;
      }

      span {
        font-weight: bold;
      }

    </style>

    <div class="container">
      <section class="">
        <div class="row text-center d-flex justify-content-center pt-4">
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-dark">About us</a>
            </h6>
          </div>

          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-dark">Home</a>
            </h6>
          </div>

          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-dark">Marketplace</a>
            </h6>
          </div>

          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-dark">Favorites</a>
            </h6>
          </div>

          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-dark">Cart</a>
            </h6>
          </div>
        </div>
      </section>

      <hr class="">

      <section class="">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <p>
              Pixare is an online gallery/library of images that is free to use for everyone.
              Pixare is not yet ready to be deployed/hosted as there is still much to complete.
              What you will see now is the current unfinished state of Pixare that its only
              purpose is for a project presentation.
            </p>
          </div>
        </div>
      </section>

      <section class="text-center mb-3">
        <a href="" class="text-dark me-4">
          <i class="bi bi-facebook"></i>
        </a>
        <a href="" class="text-dark me-4">
          <i class="bi bi-twitter"></i>
        </a>
        <a href="" class="text-dark me-4">
          <i class="bi bi-github"></i>
        </a>
      </section>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2022 Copyright: <span class="text-dark">Homo Habilis</span>
    </div>
  </footer>