<style>


#head {
    animation: fade 2.4s;
}

span {
  top: 0.63em;  
  text-transform: uppercase;  
  transform: rotateX(-100deg);
}

.let1 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.2s;
}

.let2 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.3s;
}

.let3 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.4s;
}

.let4 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.5s;

}

.let5 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.6s;
}

.let6 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.7s;
}

.let7 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.8s;
}

.let8 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.8s;
}

img {
    opacity: 1; 
    cursor: pointer; 
  }
  
img:hover {
    opacity: 0.8;
  }

@keyframes drop {
    10% {
        opacity: 0.5;
    }
    20% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }
    80% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }
    90% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
        top: 6.94em
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
    
}

</style>



<header class="bg-warning py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white" id="head">
            <h1 class="display-4 fw-bolder">
                <span class="let1 fw-bolder">W</span>  
                <span class="let2 fw-bolder">e</span>  
                <span class="let3 fw-bolder">l</span>  
                <span class="let4 fw-bolder">c</span>  
                <span class="let5 fw-bolder">o</span>  
                <span class="let6 fw-bolder">m</span>  
                <span class="let7 fw-bolder">e</span>
                <span class="let7 fw-bolder"> t</span>  
                <span class="let7 fw-bolder">o</span>  
                <span class="let7 fw-bolder"> P</span>  
                <span class="let6 fw-bolder">i</span>  
                <span class="let5 fw-bolder">x</span>  
                <span class="let4 fw-bolder">a</span>
                <span class="let3 fw-bolder">r</span>  
                <span class="let2 fw-bolder">e</span>
                <span class="let1 fw-bolder">!</span>
            </h1>
            <p class="lead fw-bold mb-0">We'll help you discover something new today!</p>
        </div>
    </div>
</header>


<section class="py-5 z-index-1 position-relative">
    <div class="container-fluid px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center"> 
            <!-- Gallery -->
            <div class="row">
                <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                    <a href="assets/arts/art1.png" data-lightbox="art-1">
                        <img src="assets/arts/art1.png"  class="w-100 shadow-1-strong rounded mb-4 img-fluid" />
                    </a>

                    <a href="assets/arts/art2.png" data-lightbox="art-2">
                    <img src="assets/arts/art2.png" class="w-100 shadow-1-strong rounded mb-4 img-fluid"/>
                    </a>

                    <a href="assets/arts/art16.jpg" data-lightbox="art-16">
                    <img src="assets/arts/art16.jpg" class="w-100 shadow-1-strong rounded mb-4 img-fluid"/>
                    </a>

                    <a href="assets/arts/art22.jpg" data-lightbox="art22">
                        <img src="assets/arts/art22.jpg"class="w-100 shadow-1-strong rounded mb-4 img-fluid"/>
                    </a>

                    <a href="assets/arts/art21.jpg" data-lightbox="art21">
                        <img src="assets/arts/art21.jpg"class="w-100 shadow-1-strong rounded mb-4 img-fluid"/>
                    </a>

                    <a href="assets/arts/art20.jpg" data-lightbox="art20">
                        <img src="assets/arts/art20.jpg"class="w-100 shadow-1-strong rounded mb-4 img-fluid"/>
                    </a>
                </div>

                <div class="col-lg-3 mb-4 mb-lg-0">
                    <a href="assets/arts/art9.jpg" data-lightbox="art-9">
                        <img src="assets/arts/art9.jpg" class="w-100 shadow-1-strong rounded mb-4 img-fluid"/>
                    </a>

                    <a href="assets/arts/art3.png" data-lightbox="art-3">
                        <img src="assets/arts/art3.png" class="w-100 shadow-1-strong rounded mb-4 img-fluid"/>
                    </a>

                    <a href="assets/arts/art15.jpg" data-lightbox="art-15">
                        <img src="assets/arts/art15.jpg" class="w-100 shadow-1-strong rounded mb-4 img-fluid"/>
                    </a>

                    <a href="assets/arts/art14.png" data-lightbox="art-14">
                        <img src="assets/arts/art14.png" class="w-100 shadow-1-strong rounded mb-4 img-fluid"/>
                    </a>

                    <a href="assets/arts/art25.jpg" data-lightbox="art25">
                        <img src="assets/arts/art25.jpg"class="w-100 shadow-1-strong rounded mb-4 img-fluid"/>
                    </a>

                    <a href="assets/arts/art23.jpg" data-lightbox="art23">
                        <img src="assets/arts/art23.jpg"class="w-100 shadow-1-strong rounded mb-4 img-fluid"/>
                    </a>

                    <a href="assets/arts/art19.jpg" data-lightbox="art19">
                        <img src="assets/arts/art19.jpg"class="w-100 shadow-1-strong rounded mb-4 img-fluid"/>
                    </a>
                </div>

                <div class="col-lg-3 mb-4 mb-lg-0">
                    <a href="assets/arts/art4.png" data-lightbox="art4">
                        <img src="assets/arts/art4.png" class="w-100 shadow-1-strong rounded mb-4 img-fluid"/>
                    </a>

                    <a href="assets/arts/art11.jpg" data-lightbox="art5">
                        <img src="assets/arts/art11.jpg"class="w-100 shadow-1-strong rounded mb-4 img-fluid"/>
                    </a>

                    <a href="assets/arts/art29.jpg" data-lightbox="art29">
                        <img src="assets/arts/art29.jpg"class="w-100 shadow-1-strong rounded mb-4 img-fluid"/>
                    </a>

                    <a href="assets/arts/art26.jpg" data-lightbox="art26">
                        <img src="assets/arts/art26.jpg"class="w-100 shadow-1-strong rounded mb-4 img-fluid"/>
                    </a>

                    <a href="assets/arts/art24.jpg" data-lightbox="art24">
                        <img src="assets/arts/art24.jpg"class="w-100 shadow-1-strong rounded mb-4 img-fluid"/>
                    </a>

                    <a href="assets/arts/art18.jpg" data-lightbox="art18">
                        <img src="assets/arts/art18.jpg"class="w-100 shadow-1-strong rounded mb-4 img-fluid"/>
                    </a>

                    <a href="assets/arts/art13.jpg" data-lightbox="art13">
                        <img src="assets/arts/art13.jpg"class="w-100 shadow-1-strong rounded mb-4 img-fluid"/>
                    </a>
                </div>

                <div class="col-lg-3 mb-4 mb-lg-0">
                    <a href="assets/arts/art5.png" data-lightbox="art5">
                        <img src="assets/arts/art5.png" class="w-100 shadow-1-strong rounded mb-4 img-fluid"/>
                    </a>

                    <a href="assets/arts/art6.png" data-lightbox="art6">
                        <img src="assets/arts/art6.png"class="w-100 shadow-1-strong rounded mb-4 img-fluid"/>
                    </a>

                    <a href="assets/arts/art27.jpg" data-lightbox="art27">
                        <img src="assets/arts/art27.jpg"class="w-100 shadow-1-strong rounded mb-4 img-fluid"/>
                    </a>

                    <a href="assets/arts/art28.jpg" data-lightbox="art28">
                        <img src="assets/arts/art28.jpg"class="w-100 shadow-1-strong rounded mb-4 img-fluid"/>
                    </a>

                    <a href="assets/arts/art30.jpg" data-lightbox="art30">
                        <img src="assets/arts/art30.jpg"class="w-100 shadow-1-strong rounded mb-4 img-fluid"/>
                    </a>

                    <a href="assets/arts/art12.jpg" data-lightbox="art12">
                        <img src="assets/arts/art12.jpg"class="w-100 shadow-1-strong rounded mb-4 img-fluid"/>
                    </a>

                    <a href="assets/arts/art11.jpg" data-lightbox="art11">
                        <img src="assets/arts/art11.jpg"class="w-100 shadow-1-strong rounded mb-4 img-fluid"/>
                    </a>
                </div>
            </div>
            <!-- Gallery -->
        </div>
    </div>
</section>