<style>
    #wew {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 4rem;
        width: 4rem;
        font-size: 2rem;
    }

    .mt-n4 {
        margin-top: -1.5rem !important;
    }

    body {
        background-image: url("/assets/pics/loginpagebg.png");
        height: 100vh;
    }
</style>

<body>
    <header class="py-5">
        <div class="container px-lg-5 py-4">
            <div class="p-4 p-lg-5 bg-5 rounded-3 text-center"> 
                <div class="m-4 m-lg-5">
                    <h1 class="display-5 fw-bold">FIND YOUR NEXT WIN HERE AT PIXARE!</h1>
                    <p class="fs-4">We're constantly bringing new artworks market so keep visiting our website that you don’t miss out on the next opportunity.</p>
                    
                    <!-- Login Modal Button -->
                    <a class="btn btn-primary btn-lg" style="margin:5px" href="login.html" data-bs-toggle="modal" data-bs-target="#loginModal">Log In</a>
                    <a class="btn btn-primary btn-lg" style="margin:5px"  href="signup.html" data-bs-toggle="modal" data-bs-target="#registerModal">Sign Up</a>`
                </div>
            </div>
        </div>
    </header>

<!-- Modal Contents -->
<!-- Login Modal -->
    <div class="modal fade" tabindex="-1" id="loginModal">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header/Title -->
            <div class="modal-header">
            <h5 class="modal-title">Log In</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                <!-- Forms -->
                <form>
                    <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="row">
                        <div class="col-lg-6 text-start">
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                        </div>
                        </div>
                    </div>
                </form>
                </div>
            </div>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
            <!-- Modal Buttons -->
                    <button type="button" class="btn btn-primary">Login</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>


<!-- Register Modal -->
    <div class="modal fade" id="registerModal">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

            <!-- Modal Header/Title -->
            <div class="modal-header">
            <h5 class="modal-title">Sign Up</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    
                <!-- Forms -->
                <form class="registration" novalidate>
                <div class="row g-3">
                    <div class="col-lg-6">
                      <label for="firstName" class="form-label">First name</label>
                      <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                    </div>
        
                    <div class="col-lg-6">
                      <label for="lastName" class="form-label">Last name</label>
                      <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                      
                    </div>
        
                    <div class="col-12">
                      <label for="username" class="form-label">Username</label>
                      <div class="input-group has-validation">
                        <input type="text" class="form-control" id="username" placeholder="Username" required>
                      </div>
                    </div>
        
                    <div class="col-12">
                      <label for="email" class="form-label">Email</label>
                      <input type="email" class="form-control" id="email" placeholder="you@example.com" required>
                    </div>
        
                    <div class="col-12">
                      <label for="address" class="form-label">Password</label>
                      <input type="text" class="form-control" id="password" placeholder="Password" required>
                    </div>
        
                    <div class="col-12">
                      <label for="address2" class="form-label"> Confirm Password</label>
                      <input type="text" class="form-control" id="password2" placeholder="Repeat Password" required>
                    </div>
        
                  </div>
                </form>
                </div>
            </div>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
            <!-- Modal Buttons -->
                    <button type="register" class="btn btn-primary">Register</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>



    <!--Three Column na instruction sa baba-->
    <section class="pt-4">
        <div class="container px-lg-5">
            <div class="row">
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4" id="wew"><i class="bi bi-door-open"></i></div>
                            <h2 class="fs-4 fw-bold">Sign Up</h2>
                            <p class="mb-0">No credit card is required!</p>
                        </div>
                    </div>
                </div>
                <!--Bid-->
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4" id="wew"><i class="bi bi-hourglass-split"></i></div>
                            <h2 class="fs-4 fw-bold">Bid</h2>
                            <p class="mb-0">Bidding is for free, you only need to pay if you win already!</p>
                        </div>
                    </div>
                </div>
                <!--Win-->
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4" id="wew"><i class="bi bi-trophy"></i></div>
                            <h2 class="fs-4 fw-bold">Win</h2>
                            <p class="mb-0">Fun - Excitement - Great Deals</p>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </section>
</body>
            
<!--Header-->



<!-- JScripts -->

<script>

</script>